<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_ENDPOINT</key>
	<string>$(API_ENDPOINT)</string>
	<key>APP_GROUP</key>
	<string>$(APP_GROUP)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(URL_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(URL_SCHEME_PROTOCOL)</string>
				<string>fb144170859738923</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(URL_SCHEME_GOOGLE)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>201904020953</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>f9c6c8009cce12027896deac1587bb67b4317925</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>144170859738923</string>
	<key>FacebookDisplayName</key>
	<string>InvoiceBot</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We would like to access your camera to allow you to take a picture which can be added to an offer or invoice.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The speech recognition is used to create invoices.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We would like to access your photo library to allow you to pick a picture which can be added to an offer or invoice.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>The speech recognition is used to create invoices.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CreateInvoiceIntent</string>
		<string>CreateOfferIntent</string>
		<string>SendInvoiceIntent</string>
		<string>SendOfferIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>FiraSans-Bold.otf</string>
		<string>FiraSans-BoldItalic.otf</string>
		<string>FiraSans-Book.otf</string>
		<string>FiraSans-BookItalic.otf</string>
		<string>FiraSans-Eight.otf</string>
		<string>FiraSans-EightItalic.otf</string>
		<string>FiraSans-ExtraBold.otf</string>
		<string>FiraSans-ExtraBoldItalic.otf</string>
		<string>FiraSans-ExtraLight.otf</string>
		<string>FiraSans-ExtraLightItalic.otf</string>
		<string>FiraSans-Four.otf</string>
		<string>FiraSans-FourItalic.otf</string>
		<string>FiraSans-Hair.otf</string>
		<string>FiraSans-HairItalic.otf</string>
		<string>FiraSans-Heavy.otf</string>
		<string>FiraSans-HeavyItalic.otf</string>
		<string>FiraSans-Italic.otf</string>
		<string>FiraSans-Light.otf</string>
		<string>FiraSans-LightItalic.otf</string>
		<string>FiraSans-Medium.otf</string>
		<string>FiraSans-MediumItalic.otf</string>
		<string>FiraSans-Regular.otf</string>
		<string>FiraSans-SemiBold.otf</string>
		<string>FiraSans-SemiBoldItalic.otf</string>
		<string>FiraSans-Thin.otf</string>
		<string>FiraSans-ThinItalic.otf</string>
		<string>FiraSans-Two.otf</string>
		<string>FiraSans-TwoItalic.otf</string>
		<string>FiraSans-Ultra.otf</string>
		<string>FiraSans-UltraItalic.otf</string>
		<string>FiraSans-UltraLight.otf</string>
		<string>FiraSans-UltraLightItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>URL_SCHEME_GOOGLE</key>
	<string>$(URL_SCHEME_GOOGLE)</string>
	<key>URL_SCHEME_PROTOCOL</key>
	<string>$(URL_SCHEME_PROTOCOL)</string>
</dict>
</plist>
